import http from "k6/http";
import { check } from "k6";

export const options = {
    scenarios: {
        default: {
            executor: "{{EXECUTOR}}",
            timeUnit: "{{TIME_UNIT}}",
            startRate: {{START_RATE}},
            preAllocatedVUs: {{VUS}},
            stages: {{DESIGN}},
            maxVUs: {{MAX_VUS}},
        }
    }
};

export default function () {
    const res = http.get(`http://${ __ENV.MY_HOSTNAME }/`, {
        headers:{
            "SFC-ID": __ENV.SFC_ID
        },
        tags: {
            sfcID: __ENV.SFC_ID
        }
    });
    check(res, {
        "is status 200": (r) => r.status === 200
    });
}
