---
name: tester
networks:
  tester:
    driver: bridge
    ipam:
      config:
      - gateway: 1.0.0.1
        subnet: 1.0.0.0/24
services:
  grafana:
    environment:
    - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    - GF_AUTH_ANONYMOUS_ENABLED=true
    - GF_AUTH_BASIC_ENABLED=false
    image: {{SFC_REGISTRY_TAG}}/grafana:latest
    networks:
      tester:
        ipv4_address: 1.0.0.3
    ports:
    - 3000:3000
    volumes:
    - ../shared-volume/tester/grafana:/etc/grafana/provisioning/
  influxdb:
    environment:
    - DOCKER_INFLUXDB_INIT_MODE=setup
    - DOCKER_INFLUXDB_INIT_USERNAME=admin
    - DOCKER_INFLUXDB_INIT_PASSWORD=password
    - DOCKER_INFLUXDB_INIT_ORG=SFC_Test
    - DOCKER_INFLUXDB_INIT_BUCKET=SFC_Test
    - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=K6_INFLUXDB_GRAFANA
    image: 172.20.0.2:5000/influxdb:latest
    networks:
      tester:
        ipv4_address: 1.0.0.2
    ports:
    - 8086:8086
    volumes:
    - ../shared-volume/tester/data:/var/lib/influxdb2
  k6:
    cap_add:
    - NET_ADMIN
    environment:
    - K6_OUT=xk6-influxdb=http://influxdb:8086
    - K6_INFLUXDB_ORGANIZATION=SFC_Test
    - K6_INFLUXDB_BUCKET=SFC_Test
    - K6_INFLUXDB_INSECURE=true
    - K6_INFLUXDB_TOKEN=K6_INFLUXDB_GRAFANA
    image: 172.20.0.2:5000/k6:latest
    networks:
      tester:
        ipv4_address: 1.0.0.4
    volumes:
    - ../shared-volume/tester/k6:/home/k6
version: '3.8'
